*{
	padding:0px;
	margin:0px;
}
li{
	list-style: none;
}
body{
	margin:0;
}
a{
  text-decoration: none;
}
.ul1{
	height: 30px;
     width: 800px;
	margin: 0 auto;
	background: blue;
	 
}
.ul1 li{
 float: left;
 list-style: none;
 height: 30px;
 width: 100px;
 text-align: center;
 border-left: 1px solid;
 
 
 border-right: 1px solid;
 margin-top: 0px;
 line-height: 30px;
}
.ul1 li a{
	color: yellow;
}
.ul1 li:hover{
	background: #eee;
	transform: scale(1.2,1.2);

}
#transform{
	position: absolute;
	width: 40px;
	height: 40px;
	animation: tans 9s infinite;
}
@keyframes tans{
	10%{
      transform: rotate(50deg);
      left: 200px;
	}
	30%{
		transform: rotate(360deg);
		left: 500xp;
	}
	60%{
		transform: rotate(-30deg);
		left: 1100px;
	}
	80%{
		
		left: 600px;
	}
	100%{
		transform: rotate(-200deg);
		left: 0px;
	}
}
